{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "commonjs": true,
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {},
  "plugins": [
    "import",
    "promise",
    "compat",
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "rules": {
    "linebreak-style": [
      2,
      "windows"
    ],
    "comma-dangle": 0
  }
}
