body {
  background: $black;

  @include breakpoint($mobile) {
    background: $warning;
  }

  @include breakpoint($tablet) {
    background: $info;
  }
  @include breakpoint($desktop-small) {
    background: $alert;
  }

  @include breakpoint($desktop) {
    background: $notification;
  }
  @include breakpoint($wide) {
    background: $black;
  }

  @include breakpoint($extra-wide) {
    background: $success;
  }
}

.root {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $white;
}
